Binaries/*
Plugins/*/Binaries/*
Build/*
*_BuiltData.uasset
DerivedDataCache
Intermediate
Saved/*
.vscode
.vs
*.exe
*.out
*.app
*.ipa
*.VC.db
*.VC.opendb
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
